body{
    background-color: #06111C;
    margin: 0;
}
h1{
    color: #BEC7C7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    font-variant: small-caps;
    margin: 10px;
    padding: 30px;
    text-align: center;
}

p{
    font-family: serif;
    color: #06111C;
}

.caixa {
    background-color: #06111C;
    padding: 10px;
    border: 4px #BEC7C7 solid;
    margin: 20px;
    font-size: 17px;
}

h2{
    color: #06111C;
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    text-decoration: underline;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
}

.metas {
    font-size: 14px;
    margin: 20px;
    border: 4px #06111C solid;
    padding: 14px;
    margin: px;
}

.paragrafo1 {
    margin: 20px;
    font-size: 17px;
}

img {
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.caixaazul {
    background-color: #BEC7C7;
    padding-top: 1;
}

.dimensionar {
    width: 50;
    height: 50;
}

iframe {
    display: block; margin: auto;
    padding-bottom: 40px;
}